.tabc{
    display: none;
    border: 3px solid red;
}


.tab {
    border: 3px solid #e02727;

    button {
        background-color: rgb(209, 212, 9);
        padding: 15px;
        cursor: pointer;
        color: #09da2c;
        font-size: 20px;
        &.active {
            background-color: darkblue;
        }
        &.hover {
            background-color: red;
        }
    }


}